h1{
  text-align: center;
  background-color: #141615;
  font-family: monospace;
  color: rgb(184, 224, 74);
  margin: auto;
font-size: 40px;

}
.rob{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  padding: 30px;
  background-color: #141615;
  color: rgb(216, 223, 129);
  font-family: monospace;
  font-size: 20px;
  }

.ro{
  background-color:rgb(117, 5, 99);
  width: 70%;
  height: 359px;
  box-shadow: 10px 10px 10px rgb(182, 218, 54);
  padding: 23px;
  padding-top: 23px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 23px
px
;
  border-radius: 20px;
  margin-bottom: 34px;
  
}
.ro:hover{
  background-color: #9e9ca5;
  transform: scale(1.2);
  transition: 0.1;


}

 .rob li{
  color: #141615;
 }
 
